@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300..700&family=Lato&family=Montserrat&family=Poppins:wght@200&display=swap');

.evento {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: var(--background-color);
}

.evento h1 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;

  font-size: 2rem;
  letter-spacing: 3px;
}

.evento span {
  width: 25vw;
  height: 2px;
  border-radius: 100px;
  background-color: rgb(33, 33, 33);
}

.evento p {
  margin: 30px;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

  font-size: 1em;
  color: black;

  max-width: 85vw;
  text-align: justify;
}

.evento-ticket {
  margin: 40px 0 30px 0;
  width: 90vw;  

  border: 1px solid black;
  box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}