.hamburger .line{
  width: 30px;
  height: 2px;
	border-radius: 2px;
  background-color: rgb(200, 200, 200);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger{
	margin: 0 40px;
	display: none;
  position: fixed;
  right: 0;
	cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	z-index: 100;
}

.hamburger{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active{
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(5px) rotate(45deg); /* 13, 45 deg*/
}

.hamburger.is-active .line:nth-child(2){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

.mobile-navbar {
  position: fixed;
  top: -40px;
  left: -40px;
  width: calc(100vw + 80px);
  height: calc(100vh + 80px);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 99;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;

  opacity: 0;
  pointer-events: none;
  
  transform: scale(1.2);
  display: none;
}

.mobile-navbar div {
  font-family: "IBX Plex Mono", monospace;
  color: white;
  font-size: 2rem;
}

.mobile-navbar.is-active {


  z-index: 99;
  opacity: 1;

  pointer-events: auto;

  transform: scale(1);
  
}

@media (max-width: 600px){

	.hamburger {
		display: block;
	}

  .mobile-navbar {
    display: flex;
  }
}

@media (hover: none){
	
	.hamburger {
		cursor: default;
	}
}

@media (min-width: 400px){

  .mobile-navbar div {
    font-size: 2.4rem;
  }
}